<%= form_with(model: ingredient, local: true) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="margin-top: 30px;">
    <%= form.text_field :description, id: :ingredient_description, :class=> "form-control", :placeholder=>"Descrição" %>
  </div>

  <div style="margin-top: 20px;"class="actions">
    <%= form.submit :class=> "btn btn-success" %> |
    <%= link_to 'Voltar', ingredients_path, :class =>  "btn btn-secondary" %>
  </div>
<% end %>
