<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, id: :company_name, :class=> "form-control", :placeholder=>"Nome" %>
  </div>

  <div class="field">
    <%= form.text_field :address, id: :company_address, :class=> "form-control", :placeholder=>"Endereço" %>
  </div>

  <div class="field">
    <%= form.text_field :phone, id: :company_phone, :class=> "form-control", :placeholder=>"Telefone" %>
  </div>

  <div class="field">
    <%= form.text_field :email, id: :company_email, :class=> "form-control", :placeholder=>"Email" %>
  </div>

  <div style="margin-top: 20px;"class="actions">
    <%= form.submit :class=> "btn btn-success" %> |
    <%= link_to 'Voltar', companies_path, :class =>  "btn btn-secondary" %>
  </div>
<% end %>
