<div class="container" style="padding-top: 60px;">
<p id="notice"><%= notice %></p>

<h2>
  <%= @company.name %>
</h2>
  <h6><%= @company.email %></h6>

<h4>
  <strong>Address:</strong>
  <%= @company.address %> |
  <strong>Phone:</strong>
  <%= @company.phone %>
</h4>


<%= link_to 'Edit', edit_company_path(@company), :class=> "btn btn-primary" %> |
<%= link_to 'Back', companies_path, :class=> "btn btn-info" %>
</div>
