<%= form_with(model: dish, local: true) do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :description, id: :dish_description, :class=> "form-control", :placeholder=>"Descrição" %>
  </div>

  <div class="field">
    <%= form.text_field :price, id: :dish_price, :class=> "form-control", :placeholder=>"Valor" %>
  </div>

  <div class="field">
    <h3><%= form.label "Tempo de Preparação" %></h3>
    <%= form.time_select :preparationtime, id: :dish_preparationtime %>
  </div>

  <div class="field">
    <h3><%= form.label "Ingredientes" %></h3>
    <% @ingredients.each do |ingredient| %>

        <%= check_box_tag "dish[ingredient_ids][]", ingredient.id, @dish.ingredients.include?(ingredient) %>
        <%= ingredient.description %>
    <% end %>
  </div>

  <div style="margin-top: 20px;"class="actions">
    <%= form.submit :class=> "btn btn-success" %> |
    <%= link_to 'Voltar', dishes_path, :class =>  "btn btn-secondary" %>
  </div>
<% end %>
