<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<p>
  <strong>Preparationtime:</strong>
  <%= @dish.preparationtime %>
</p>


<p>
  <strong>Ingredientes:</strong><br>
  <% @dish.ingredients.each do |ingredient| %>
    <span class="btn btn-info disabled">
    <%= ingredient.description %>
    </span>
    <% end %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
